/*     UNIVERSAL     */

* {
    margin: 0;
    padding: 0;
    overflow:hidden;
    color:black;
    font-family: 'Montserrat',sans-serif;
    box-sizing: border-box;
    font-size: 13px;
    
}

body {
    font-size: 80%;   
}

.row {
    padding-top:10px;
}

#calculator-container {
    margin: 3% 30%;
    padding: 3%;
    border: 1px solid black;
    background-color: rgb(236, 236, 236);
}